*{
    margin:0;
    padding: 0;

}
body{
background-image: linear-gradient(to right, lightblue,pink);  
}
/* heading styling */
h1{
    text-align: center;
    font-size: 2rem;
    /* color: red; */
    padding: 1rem;
    border-bottom: 1px solid grey;
    font-family: monospace;
}
/* styling the description part */
#description-part{
    /* color: darkgray; */
    height: 100px;
    border-bottom: 1px solid grey;
    background-image: linear-gradient(to right, lightblue,pink);
}
#fill-description{
    background-image: linear-gradient(to right, lightblue,pink);
   
}
input{
    border-style: none;
    padding: 2%;
    width: 95%;
    color: black;
    font-size: 1rem;
    /* background-image: linear-gradient(to right, lightblue,pink);   */
    margin-left: -22px;

 }
 #category-and-date{
    display: flex;
}
#category{
   width: 58%;
    height: 100px;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
}
p{
    font-size: 1.5rem;
    font-weight: bold;
}
#select{
    width: 100%;
    height: 70%;
    font-family: Georgia;
    font-size: 1rem;
    color: black;
    border-style: none;
    background-image: linear-gradient(to right, lightblue,pink);  
    
    /* border: 2px solid black;    */
    display: flex;

}
/* styling the date part over here */
#date {
    border-bottom: 1px solid grey;
    /* border: 2px solid black;  */
    height: 100px;
    width: 40%;
    /* background-image: linear-gradient(to right, lightblue,pink); */
    
}
#date-format{
    /* margin-left: 10px; */
    width: 80%;
    height: 50%;
    /* border-left: 1px solid grey; */
    margin-left: 1px;
    background-image: linear-gradient(to right, lightblue,pink);
}
#btn{
    text-align: center;
    margin: auto;
}
#add-task{
    background-color: rgb(58, 56, 56);
    color: white;
    border-radius: 20px;
    font-size: 1rem;
    padding: 10px;
    margin-top: 5px;
    transition: transform 0.2s ease-out;
    cursor: pointer;
    /* display: flex; */
}
/* when over hover the add button */
#add-task:hover{
    background-color: lightblue;
    color: black;
    transform: scale(0.9);

}
#delete-button{
    /* margin-left: 45%; */
    margin-left: 46%;
    border: 2px solid black;
   background-color: red !important;
    color: white;
    border-radius: 20px;
    font-size: 1rem;
    padding: 10px;
    margin-top: 5px;
    transition: transform 0.2s ease-out;
    cursor: pointer;
    width: 120px;

}
#delete-button:hover{
      background-color: lightblue;
        color: black;
        transform: scale(0.9);
    
}
#list-details{
    /* border-top: 2px solid grey; */
    border-bottom: 2px solid grey;
}
#list-container{
    height: 80px;
    border-top: 2px solid grey;
    /* border: 2px solid black; */
    width: 90%;
    margin: auto;
    margin-top: 10px;
  
}
#data{
    display: flex;
    /* justify-content: space-between; */
}
#box-and-desc{
      width: 800px;
    /* text-align: center; */
    margin-bottom: -20px;
}
/* the description part which will be show to us after filled up */
#show-description{
    /* border: 2px solid red; */
    margin-top: -20px;
}
#show-category{
   border: 2px solid grey;
   height: 40px;
   padding: 5px;
   background-color: orange;
   border-radius: 10px;
   color: white;
   margin-top: 7px;
   width: 150px;
   text-align: center;
 }
 #show-category:hover{
    background-color: lightgray;
    color: black;
    border-radius: 0%;
 }
ul {
    list-style-type: none;
}
#show-date{
    margin-top: -5px;
    /* border: 2px solid black; */
    margin-right: 70px;
    font-size: 1rem;
    width: 800px;
}
/* the calender styling */
#calender{
    display: flex;
    margin-left: 10px;
}
.checkbox{
    height: 20px;
    border: 2px solid black;
    margin-left: -420px;
    margin-top: 10px;
}
